
<link rel="stylesheet" href="/assets/Style-reseñas.css" />
<div class="container">
    <div class="image">
      <img src="/assets/img/7-days-to-die-pc-mac-juego-steam-cover.jpg" alt="">
    </div>
    <div class="details">
      <h2>7DaysToDie</h2>
      <p><strong>Desarrollador:</strong> The Fun Pimps</p>
      <p><strong>Género:</strong> Videojuego de terror, mundo abierto, sandbox y supervivencia</p>
      <p><strong>Fecha de Lanzamiento:</strong> 16 de agosto de 2013</p>
      <p><strong>Descripción:</strong> 7 Days to Die es un juego de mundo abierto que combina de forma extraordinaria juegos de disparos en primera persona, supervivencia de terror, defensa de torres y rol. Juega al primer RPG de supervivencia zombi de entorno abierto. ¡Navezgane te espera!</p>
    </div>
  </div>

  <br>
 
    <div class="rating-box">
      <header>Reseña</header>
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
    </div>

<!----------------------------------------------------------------------------------------------------------------------------->

    <div class="container">
      <div class="comment__container" id="first-comment">
        <div class="comment__card">
          <h3 class="comment__title">The first comment</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Distinctio animi inventore nostrum perferendis quisquam fuga placeat sint,
            temporibus ipsa ducimus voluptates id. Accusantium labore excepturi, porro nulla amet optio odit?
          </p>
          <div class="comment__footer">
              <div>Likes 124</div>
              <div>Dislikes 23</div>
              <div class="show-replies">Reply 2</div>
          </div>
        </div>
<!----------------------------------------------------------------------------------------------------------------------------->
      <div class="comment__container" dataset="first-comment" id="first-reply">
        <div class="comment__card">
          <h3 class="comment__title">The first comment</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Distinctio animi inventore nostrum perferendis quisquam fuga placeat sint,
            temporibus ipsa ducimus voluptates id. Accusantium labore excepturi, porro nulla amet optio odit?
          </p>
          <div class="comment__footer">
              <div>Likes 124</div>
              <div>Dislikes 23</div>
              <div class="show-replies">Reply 2</div>
          </div>
        </div>
        </div>
<!----------------------------------------------------------------------------------------------------------------------------->
        <div class="comment__container" dataset="first-comment">
          <div class="comment__card">
            <h3 class="comment__title">The first comment</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio animi inventore nostrum perferendis quisquam fuga placeat sint,
              temporibus ipsa ducimus voluptates id. Accusantium labore excepturi, porro nulla amet optio odit?
            </p>
            <div class="comment__footer">
                <div>Likes 124</div>
                <div>Dislikes 23</div>
                <div class="show-replies">Reply 2</div>
            </div>
          </div>
          </div>

<!----------------------------------------------------------------------------------------------------------------------------->

      </div>
    </div>