<div class="row justify-content-center mt-4">
  <div class="col-md-9">
    <div class="card col-md-12">
      <div class="row g-0">
        <div class="col-sm-6 col-md-3">
          <img src="/assets/img/descarga (1).jpg" class="img-fluid rounded-startn text-center" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div>
            <h5 class="card-title">7DaysToDie</h5>
          </div>
            <div>
              <p class="card-text">Descripción: 7 Days to Die es un juego de mundo abierto que combina de forma
                extraordinaria juegos de disparos en primera persona, supervivencia de terror, defensa de torres y rol.
                Juega al primer RPG de supervivencia zombi de entorno abierto. ¡Navezgane te espera!</p>
            </div>
            <div>
              <p class="card-text">Desarrollador: The fun Pimps</p>
              <p class="card-text">Genero: Videojuego de terror, mundo abierto, sandbox y supervivencia</p>
              <p class="card-text">Fecha de Lanzamiento: 16 de agosto de 2013</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="rating-box">
  <header>Reseña</header>
  <div class="stars">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
  </div>
</div>

<!----------------------------------------------------------------------------------------------------------------------------->

<div class="container">
  <div class="comment__container" id="first-comment">
    <div class="comment__card">
      <h3 class="comment__title">The first comment</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Distinctio animi inventore nostrum perferendis quisquam fuga placeat sint,
        temporibus ipsa ducimus voluptates id. Accusantium labore excepturi, porro nulla amet optio odit?
      </p>
      <div class="comment__footer">
        <div>Likes 124</div>
        <div>Dislikes 23</div>
        <div class="show-replies">Reply 2</div>
      </div>
    </div>
    <!----------------------------------------------------------------------------------------------------------------------------->
    <div class="comment__container" dataset="first-comment" id="first-reply">
      <div class="comment__card">
        <h3 class="comment__title">The first comment</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Distinctio animi inventore nostrum perferendis quisquam fuga placeat sint,
          temporibus ipsa ducimus voluptates id. Accusantium labore excepturi, porro nulla amet optio odit?
        </p>
        <div class="comment__footer">
          <div>Likes 124</div>
          <div>Dislikes 23</div>
          <div class="show-replies">Reply 2</div>
        </div>
      </div>
    </div>
    <!----------------------------------------------------------------------------------------------------------------------------->
    <div class="comment__container" dataset="first-comment">
      <div class="comment__card">
        <h3 class="comment__title">The first comment</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Distinctio animi inventore nostrum perferendis quisquam fuga placeat sint,
          temporibus ipsa ducimus voluptates id. Accusantium labore excepturi, porro nulla amet optio odit?
        </p>
        <div class="comment__footer">
          <div>Likes 124</div>
          <div>Dislikes 23</div>
          <div class="show-replies">Reply 2</div>
        </div>
      </div>
    </div>

    <!----------------------------------------------------------------------------------------------------------------------------->

  </div>
</div>