<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12  d-flex justify-content-center p-3">
      <img class="col-sm-8" src="/assets/img/Destiny2.png">
    </div>
  </div>
</div>
<div class="container mb-3 grisaseo">
  <div class="row justify-content-center">
    <div class="col-md-4 d-flex justify-content-center p-2">
      <img class="col-sm-12" src="/assets/img/Borderlands3 fondo.png">
    </div>
    <div class="col-md-4 d-flex justify-content-center p-2">
      <img class="col-sm-12" src="/assets/img/Arcade.png">
    </div>
    <div class="col-md-4 d-flex justify-content-center p-2">
      <img class="col-sm-7" src="/assets/img/lord_jesus_bring_mario_in_heaven__by_j_mantheangel_degerkg-pre.jpg">
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 p-2">
      <ul class="list-group m-2">
        <li class="list-group-item">
          <div class="card mb-3">
            <img src="/assets/img/Destiny2.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="card mb-3">
            <img src="/assets/img/Destiny2.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="card mb-3">
            <img src="/assets/img/Destiny2.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="card mb-3">
            <img src="/assets/img/Destiny2.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="card mb-3">
            <img src="/assets/img/Borderlands3 fondo.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-5 p-2">
      <ul class="list-group m-2">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
  </div>
</div>