body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  margin: 0;
}

#games-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-card img {
  max-width: 100%;
  max-height: 200px; /* Ajusta la altura máxima según tus preferencias */
  width: auto;
  height: auto;
}

/* Estilo para el contenido de las tarjetas de juego */
.game-card {
  width: 30%;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center; /* Centra el contenido horizontalmente */
}

/* Estilo para centrar verticalmente el contenido de las tarjetas de juego */
.game-card .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Asegura que ocupe toda la altura de la tarjeta */
}
.game-image {
  max-width: 500px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: auto;
}
